# Ambiente virtual
.venv/
venv/
env/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

# Logs e temporários
*.log

# Modelos grandes
*.pkl

# Exceções necessárias para o app
!models/
!models/modelo_final.pkl
!models/scaler.pkl
!models/features.pkl
!models/v1_pipeline.pkl